<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/app/admin/page'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/app/admin/page'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Administrators</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Administrators</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <h2>Admin<strong>LTE</strong></h2>
                        <p class="lead mb-5">123 Testing Ave, Testtown, 9876 NA
                            <br>
                            Phone: +1 234 56789012
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Main content -->
</div>
</html>
